.card.mt-4
  h5.card-header Sign in
  .card-body
    = form_for :session, url: session_path do |form|
      .form-group
        = form.label :email
        = form.text_field :email, type: 'email', class: 'form-control'

      .form-group
        = form.label :password
        = form.password_field :password, class: 'form-control'


      span.float-right.pt-3.pr-3
        - if Clearance.configuration.allow_sign_up?
          = link_to 'Register', sign_up_path, class: 'card-link'
        = link_to t(".forgot_password"), new_password_path, class: 'card-link'
      .form-group
        = form.submit class: 'btn btn-primary'
