.card.mt-4
  h5.card-header Register
  .card-body
    = render partial: 'layouts/errors', locals: { obj: @user }
    = form_for @user do |form|
      .form-group
        label Email
        = form.text_field :email, type: 'email', class: 'form-control'
      / .form-group
      /   label Name
      /   = form.text_field :name, class: 'form-control'
      / .form-group
      /   label Mobile phone
      /   = form.text_field :phone, class: 'form-control'
      .form-group
        label Password
        = form.password_field :password, class: 'form-control'

      span.float-right.pt-3.pr-3
        = link_to 'Sign in', sign_in_path, class: 'card-link'
      .form-group
        = form.submit 'Register', class: 'btn btn-primary'
