.card.mt-4
  .card-body
    p = t(".description")

    = form_for :password_reset, url: user_password_path(@user, token: @user.confirmation_token), html: { method: :put } do |form|
      .form-group
        = form.label :password
        = form.password_field :password, class: 'form-control'
      .form-group
        = form.submit class: 'btn btn-primary'
