.card.mt-4
  h5.card-header = t(".title")
  .card-body

    p = t(".description")

    = form_for :password, url: passwords_path do |form|
      .form-group
        = form.label :email
        = form.text_field :email, type: 'email', class: 'form-control'

      .form-group
        = form.submit class: 'btn btn-primary'
