= render partial: 'layouts/errors', locals: { obj: @post }

= form_for @post do |f|
  .form-group
    Label Title
    = f.text_field :title, class: 'form-control'
  .form-group
    label Post body
    = f.text_area :body, class: 'form-control', rows: '7'
  .form-group
    br
    = f.submit 'Save', class: 'btn btn-primary'
