h1 Posts

- @posts.each do |post|
  .card.my-3
    .card-header
      = post.title

    .card-body
      == simple_format post.body
    .card-footer
      = post.user.email
      span.float-right
        td = link_to 'Show', post
        td = link_to 'Edit', edit_post_path(post)
        td = link_to 'Destroy', post, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Post', new_post_path, class: 'btn btn-primary'
