header
  nav.navbar.navbar-expand-md.navbar-red.bg-primary.border-bottom.border-white
    .container
      a.btn.btn-primary.text-white href="/" Poster

      - if current_user
        / a.btn.btn-primary.text-white href="/discovery" = fa_icon('search', :solid)
        / a.btn.btn-primary href="/my/posts/new" = fa_icon('plus-circle', :solid)
        a.btn.btn-primary href="/posts/new" Add post
        / - if current_user.trader
        /   a.btn.btn-primary href="/manager" Manager
      - else
        a.btn.btn-primary href="/sign_up" Register
