doctype html
html
  head
    title Poster app
    = csrf_meta_tags
    = csp_meta_tag
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"

    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'

  body
    .container
      = render partial: 'layouts/navbar'
      = render partial: 'layouts/flash'
      = yield
